
@{
    ViewBag.Title = "SelectFunc";
}

<h2>Funcionário Cadastrado</h2>

<div>

    <p><b>Código:</b> @ViewBag.codigo</p>
    <p><b>Nome:</b> @ViewBag.nome</p>
    <p><b>Função:</b> @ViewBag.funcao</p>

</div>
